/*
reset.css

resets all browser defaults
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, button,
fieldset, form, label, input, select, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* some elements use different box-sizings when determining size */
*{
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/*
base.css

applies default layout for each type of element
*/

html{
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main{
  min-height: 100vh;
}
code{
 	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
main{
  flex: 1 0 auto;
}
h1{
  font-size: 2.2rem;
  font-weight: 550;
}
h2{
  font-size: 1.5rem;
  font-weight: 450;
}
h3{
  font-size: 1.17rem;
  font-weight: 400;
}
h4{
  font-size: 1rem;
  font-weight: 600;
}
h5{
  font-size: .83rem;
  font-weight: 650;
}
h6{
  font-size: .67rem;
  font-weight: 650;
}
p{
  font-size: 1rem;
  font-weight: 400;
  /* default <p> line height is way too dense for good readability */
  line-height: 135%;
	/* doesn't matter what text it is, never have long lines of text, it's hard to read */
	word-wrap: break-word;
  max-width: 55ch;
}


@media(prefers-color-scheme: light){
  body{
    background-color: white;
  }
  h1, h2, h3, h4, h5, h6, p{
    color: black;
  }
}
@media(prefers-color-scheme: dark){
  body{
    background-color: rgb(20,20,20);
  }
  h1, h2, h3, h4, h5, h6, p{
    color: white;
  }
}