<div class='content'>
    <form>
        <h1>
            Login
        </h1>
        <input [(ngModel)]="form.username" name="username" placeholder="username@email.com"/>
        <input [(ngModel)]="form.password" name="password" placeholder="password123"/>
        <button type="submit" (click)="onSubmit()"  (submit)="onSubmit()">
            Login
        </button>
        <div *ngIf="failedLogin" class='login-error'>
            <p>
                Could not log in, username or password was incorrect.
            </p>
        </div>
        <button (click)="testAuth()">
            Test Authentication
        </button>
    </form>
</div>
