<nav class='nav'>
    <ul class='list-links'>
        <li class='links-list__item'>
            <a class='link' [routerLink]="['/store']">
                Store
            </a>
        </li>
        <li class='links-list__item'>
            <a class='link' [routerLink]="['/library']">
                Library
            </a>
        </li>
        <li class='links-list__item'>
            <a class='link' [routerLink]="['/community']">
                Community
            </a>
        </li>
    </ul>
</nav>
<div class='fix-nav-padding'></div>