<div class='content'>
    <div *ngIf="featuredGame" [routerLink]="['/store',featuredGame.title]" [style.background-image]="'url(' + featuredGame.imgBanner + ')'" class='featured-games'>
        <h1 class='featured-games__title'>
            {{ featuredGame.title }}
        </h1>
    </div>

    <a [routerLink]="['cart']">
        View my Cart
    </a>

    <h1>
        Recommended For You
    </h1>

    <ul class='highlighted-games'>
        <li *ngFor="let game of highlightedGames" class='highlighted-games__game'>
            <a [routerLink]="['/store', game.title]" class='highlighted-games__link' [style.background-image]="'url(' + game.imgProfile + ')'">
                <h3 class='highlighted-games__game__title'>
                    {{ game.title }}
                </h3>
            </a>
        </li>
    </ul>

    <h1>
        All Games
    </h1>

    <ul class='listed-games'>
        <li *ngFor="let game of listedGames; index as id">
            <a [routerLink]="['/store', game.title]" class='listed-games__link'>
                <span>
                    <h3 class='listed-games__link__title'>
                        {{ game.title }}
                    </h3>
                </span>
                <span>
                    <h3 class='listed-games__link__price'>
                        {{ game.price }}
                    </h3>
                    
                </span>
            </a>
        </li>
    </ul>
</div>