.content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem 3rem;
}

.content > h1{
    padding-left: 8vw;
    margin-top: 3rem;
}

.featured-games{
    width: 100vw;
    height: 42.85vw;
    /*background-color: rgb(255,255,255);*/
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 2rem;
    color: white;
    /*background-image: url('https://images6.alphacoders.com/992/thumb-1920-992033.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 14px 4px rgba(0,0,0,.2);
}

.featured-games__title{
    color: inherit;
    text-shadow: 0px 2px 10px rgba(0,0,0,.65);
}
.featured-games__buy-button{
    margin-left: auto;
    color: black;
    /*background: none;*/
    border-radius: 8px;
    padding: .7rem;
    background-color: rgba(255,255,255,.8);
    backdrop-filter: blur(16px);
    box-shadow: 0px 2px 14px 4px rgba(0,0,0,.2);
}



.highlighted-games{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 1rem 0;
}

.highlighted-games__link{
    word-wrap: break-word;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    width: 23vw;
    height: 40.8vw;
    /*padding-bottom: calc(100% * 1.78);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 1.5rem;
    box-shadow: 0 2px 8px 4px rgba(0,0,0,.2);
    transition: transform .15s, box-shadow .15s;
}
.highlighted-games__link:hover{
    /*
    width: 23.2vw;
    height: 41vw;
    */
    transform: scale(1.02);
    box-shadow: 0 2px 12px 8px rgba(0,0,0,.2);
}

.highlighted-games__game__title{
    color: white;
    font-size: 1.5rem;
    font-weight: 550;
    /*padding-top: calc(100% * 1.78);*/
    padding-bottom: 1rem;
    padding-left: 1rem;
    text-shadow: 0px 2px 10px rgba(0,0,0,.75);
}

.listed-games{
    width: 100%;
    padding-left: 8vw;
    padding-right: 8vw;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0rem 1rem;
}
.listed-games__link{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    text-decoration: none;
}


.listed-games__link__title{
    color: inherit;
}

.listed-games__link__price{
    color: inherit;
    font-weight: 500;
}

@media(prefers-color-scheme: light){
    .listed-games__link{
        color: black;
    }
    .listed-games__link:hover{
        background-color: rgb(210, 240, 255);
    }

    .listed-games > li:nth-child(even){
        background-color: rgb(230, 230, 230);
    }
    .listed-games > li:nth-child(odd){
        background-color: rgb(210,210,210);
    }
}
@media(prefers-color-scheme: dark){
    .listed-games__link{
        color: white;
    }
    .listed-games__link:hover{
        background-color: rgb(40, 60, 90);
    }
    .listed-games > li:nth-child(even){
        background-color: rgb(40, 40, 40);
    }
    .listed-games > li:nth-child(odd){
        background-color: rgb(60, 60, 60);
    }
}